<div class="col-xs-6 col-lg-4">
  <h2>{{ book }}</h2>
  <dl>
    <dt>Description</dt>
    <dd>{{ book.description }}</dd>
  </dl>  
  <dl>
    <dt>Published at</dt>
    <dd>{{ book.published_at }}</dd>
  </dl>
  <dl>
    <dt>Publishing house</dt>
    <dd>{{ book.publishing_house }}</dd>
  </dl>    
  <dl>
    <dt>Author</dt>
    <dd>
      <ul>
        {% for author in book.authors.all %}
          <li>{{ author }}</li>
        {% endfor %}
      </ul>
    </dd>  
  </dl>
</div><!--/.col-xs-6.col-lg-4-->